                                @font-face {
                                    font-family: 'Montserrat';
                                    src: url(./fonts/Montserrat-Bold.woff2) format ('woff2');
                                    font-weight: 700;
                                    font-style: normal;
                                    font-display: swap;
                                }
                                
                                @font-face {
                                    font-family: 'Montserrat';
                                    src: url(./fonts/Montserrat-Regular.woff2) format ('woff2');
                                    font-weight: 400;
                                    font-style: normal;
                                    font-display: swap;
                                }
                                
                                @font-face {
                                    font-family: 'Montserrat';
                                    src: url(./fonts/Montserrat-Thin.woff2) format ('woff2');
                                    /* font-weight: 700; */
                                    font-style: normal;
                                    font-display: swap;
                                }
                                
                                @font-face {
                                    font-family: 'PlayfairDisplay';
                                    src: url(./fonts/PlayfairDisplay-Bold.woff2) format ('woff2');
                                    /* Для жирности указано временное значение */
                                    font-weight: 100;
                                    font-style: normal;
                                    font-display: swap;
                                }
                                /**
  Нормализация блочной модели
 */
                                
                                *,
                                 ::before,
                                 ::after {
                                    box-sizing: border-box;
                                }
                                /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
                                
                                 :where(ul, ol):where([class]) {
                                    padding-left: 0;
                                }
                                /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
                                
                                body,
                                 :where(blockquote, figure):where([class]) {
                                    margin: 0;
                                }
                                /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
                                
                                 :where( h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
                                    margin-block: 0;
                                }
                                
                                 :where(dd[class]) {
                                    margin-left: 0;
                                }
                                
                                 :where(fieldset[class]) {
                                    margin-left: 0;
                                    padding: 0;
                                    border: none;
                                }
                                /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
                                
                                 :where(ul[class]) {
                                    list-style: none;
                                }
                                
                                 :where(address[class]) {
                                    font-style: normal;
                                }
                                /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
                                
                                p {
                                    --paragraphMarginBottom: 24px;
                                    margin-block: 0;
                                }
                                /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
                                
                                p:where(:not([class]):not(:last-child)) {
                                    margin-bottom: var(--paragraphMarginBottom);
                                }
                                
                                p:not([class]):not(:last-child) {
                                    margin-bottom: 24px;
                                }
                                /**
   Упрощаем работу с изображениями и видео
  */
                                
                                img,
                                video {
                                    display: block;
                                    max-width: 100%;
                                    height: auto;
                                }
                                /**
   Наследуем свойства шрифт для полей ввода
  */
                                
                                input,
                                textarea,
                                select,
                                button {
                                    font: inherit;
                                }
                                /* html {


/**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    
    height: 100%;*/
                                /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара*/
                                /* scrollbar-gutter: stable; */
                                /* } */
                                /**
   Плавный скролл
  */
                                
                                html,
                                 :has(:target) {
                                    scroll-behavior: smooth;
                                }
                                
                                body {
                                    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)*/
                                    min-height: 100%;
                                    /**
     Унифицированный интерлиньяж*/
                                    line-height: 1.5;
                                }
                                /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
                                
                                a:where([class]) {
                                    display: inline-flex;
                                }
                                /**
   Курсор-рука при наведении на элемент
  */
                                /* 
button,
label {
    cursor: pointer;
} */
                                /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
                                /* 
 :where([fill]:not( [fill="none"], [fill^="url"])) {
    fill: currentColor;
} */
                                /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
                                /* :where([stroke]:not( [stroke="none"], [stroke^="url"])) {
    stroke: currentColor; 


}*/
                                /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
                                
                                svg * {
                                    transition-property: fill, stroke;
                                }
                                /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
                                
                                 :where(table) {
                                    border-collapse: collapse;
                                    border-color: currentColor;
                                }
                                /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
                                
                                @media (prefers-reduced-motion: reduce) {
                                    *,
                                     ::before,
                                     ::after {
                                        animation-duration: 0.01ms !important;
                                        animation-iteration-count: 1 !important;
                                        transition-duration: 0.01ms !important;
                                        scroll-behavior: auto !important;
                                    }
                                }
                                /* Объявляем глобальные переменные */
                                
                                 :root {
                                    --color-light-grey: #F4F4F4;
                                    --color-light: #FFFFFF;
                                    --color-dark: #000000;
                                    --color-dark-grey: #888888;
                                    --font-familly-base: 'Montserrat', sans-serif;
                                    --font-familly-accent: 'PlayfairDisplay', sans-serif;
                                    --container-width: 1200px;
                                    --container-padding-x: 15px;
                                    --border: 1px solid var(--color-light-grey);
                                    --border-radius: 15px;
                                    --value: 50%;
                                }
                                
                                body {
                                    font-family: var(--font-familly-base);
                                    font-size: 16px;
                                    line-height: 1.6;
                                    color: var(--color-dark);
                                    background-color: var(--color-light-grey);
                                }
                                
                                .container {
                                    /* Складываем ширину контентной сетки со значением горизонтальных отступов умноженное на 2 */
                                    /* Т.о. получим реальное ограничение контентной сетки в 1200px */
                                    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
                                    margin-inline: auto;
                                    padding-inline: var(--container-padding-x);
                                }
                                
                                .visually-hidden {
                                    position: absolute !important;
                                    width: 1px !important;
                                    height: 1px !important;
                                    margin: -1px !important;
                                    border: 0 !important;
                                    padding: 0 !important;
                                    white-space: nowrap !important;
                                    clip-path: inset(100%) !important;
                                    clip: rect(0 0 0 0) !important;
                                    overflow: hidden !important;
                                }
                                
                                h1,
                                h2,
                                h3,
                                h5,
                                h6 {
                                    font-family: var(--font-familly-accent);
                                    font-weight: 700;
                                    font-size: 36px;
                                    margin: 1px;
                                }
                                
                                h3 {
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                    font-size: 30px;
                                    letter-spacing: 1px;
                                }
                                
                                h4 {
                                    font-family: var(--font-familly-base);
                                    font-size: 20px;
                                    margin: 4px;
                                }
                                
                                .text {
                                    letter-spacing: 2px;
                                }
                                
                                .textmb {
                                    margin-bottom: 50px;
                                }
                                
                                .shadow-text {
                                    color: var(--color-dark-grey);
                                    /* Делаем текст в верхнем регистре */
                                    text-transform: uppercase;
                                    font-weight: 700;
                                }
                                
                                .great-block {
                                    width: 670px;
                                    overflow: hidden;
                                }
                                
                                .medium-block {
                                    width: 570px;
                                    overflow: hidden;
                                }
                                
                                .small-block {
                                    width: 470px;
                                    overflow: hidden;
                                }
                                
                                .assortment-line {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 25px;
                                    margin-bottom: 25px;
                                }
                                
                                .two {
                                    justify-content: center;
                                    flex-wrap: wrap;
                                }
                                
                                .header {
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: center;
                                }
                                
                                .header-items {
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                    max-width: 770px;
                                    margin-top: 20px;
                                    margin-bottom: 20px;
                                }
                                
                                .header-items-logo {
                                    margin-bottom: 18px;
                                }
                                
                                .header-items-text {
                                    font-size: 18px;
                                    margin: 0px 15px;
                                }
                                
                                .banner {
                                    background: url(./images/loncaro-background.jpg) center/contain no-repeat;
                                    background-size: 100%;
                                }
                                
                                .banner-body {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    column-gap: 15px;
                                    margin: 10px 20px 65px;
                                }
                                
                                .banner-loncaro-list {
                                    display: flex;
                                    justify-content: center;
                                    align-items: start;
                                    flex-flow: column wrap;
                                    width: 567px;
                                    height: 203px;
                                }
                                
                                .banner-shadtext {
                                    text-transform: uppercase;
                                    font-size: 16px;
                                }
                                
                                .banner-image {
                                    margin-top: 15px;
                                }
                                
                                .assortment {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                                
                                .wrapper {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                }
                                
                                .assortment-title {
                                    text-align: center;
                                    margin-bottom: 35px;
                                }
                                
                                .product-item {
                                    display: block;
                                    height: auto;
                                    border: var(--border);
                                    border-radius: var(--border-radius);
                                    background-color: var(--color-light);
                                }
                                
                                .product-info {
                                    display: flex;
                                    align-items: center;
                                    flex-flow: column;
                                    text-align: center;
                                }
                                
                                .indent {
                                    margin-top: 15px;
                                }
                                
                                .info-shadtext {
                                    margin-top: 15px;
                                    font-size: 14px;
                                }
                                
                                .info-text {
                                    font-size: 16px;
                                }
                                
                                .one {
                                    justify-content: flex-end;
                                    margin-right: 13px;
                                }
                                
                                .three {
                                    justify-content: flex-start;
                                    margin-left: 13px;
                                }
                                
                                .aboutUs {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: var(--color-light);
                                    border: var(--border);
                                    border-radius: var(--border-radius);
                                }
                                
                                .aboutUs-info {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    text-align: center;
                                    margin: 28px 10px 28px;
                                    width: 380px;
                                }
                                
                                .person {
                                    font-size: 14px;
                                }
                                
                                .person-photo {
                                    align-self: center;
                                }
                                
                                .image-photo {
                                    width: 100px;
                                    height: 100px;
                                    border-radius: 50%;
                                    aspect-ratio: 1;
                                }
                                
                                .person-job {
                                    margin-bottom: 10px;
                                }
                                
                                .slider,
                                .slider-seven {
                                    /* Здесь была объявлена переменная --value
                                Перенесла её в root */
                                    position: relative;
                                    width: 470px;
                                    height: 100%;
                                    aspect-ratio: 1;
                                    border: 1px solid var(--color-light-grey);
                                }
                                
                                .slider__img {
                                    position: absolute;
                                    top: 0;
                                    max-width: none;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                
                                .slider__img--before {
                                    left: 0;
                                    width: var(--value);
                                    object-position: left;
                                }
                                
                                .slider__img--after {
                                    right: 0;
                                    width: calc(100% - var(--value));
                                    object-position: right;
                                }
                                
                                .slider__range-visible {
                                    position: absolute;
                                    top: 0;
                                    left: var(--value);
                                    height: 100%;
                                    background-color: currentColor;
                                    transform: translateX(-50%);
                                    pointer-events: none;
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        width: 50px;
                                        height: 50px;
                                        background: transparent;
                                        background-image: url(./images/bottom/slider-handle.png);
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        background-size: contain;
                                        border-radius: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                                
                                .slider__range-js,
                                .slider__range-js7 {
                                    position: absolute;
                                    margin: 0;
                                    /* cursor: pointer; */
                                    opacity: 0;
                                    inset: 0;
                                    &:hover {
                                        background-color: var(--color-dark-grey);
                                    }
                                    &:active {
                                        &+.slider__range-visible {
                                            color: var(--color-light-grey);
                                            mix-blend-mode: multiply;
                                        }
                                    }
                                    /* &:focus-visible {
                                    &+.slider__range-visible {
                                        outline: auto;
                                        &::before {
                                            outline: auto;
                                        }
                                    }
                                } */
                                }
                                
                                .swiper {
                                    width: 100%;
                                    height: 100%;
                                }
                                
                                .swiper-slide {
                                    text-align: center;
                                    font-size: 18px;
                                    display: flex !important;
                                    justify-content: center;
                                    align-items: center;
                                }
                                
                                .swiper-slide img {
                                    display: block;
                                    /* width: 100%; */
                                    height: 100%;
                                    object-fit: cover;
                                }
                                
                                .swiper-button-prev,
                                .swiper-button-next {
                                    color: var(--color-dark-grey) !important;
                                }
                                
                                .socialMedia {
                                    display: flex;
                                    flex-direction: column;
                                    align-content: center;
                                }
                                
                                .communication {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    text-align: center;
                                    margin-top: 70px;
                                }
                                
                                .com-text {
                                    width: 100%;
                                    max-width: 680px;
                                    height: auto;
                                    flex-wrap: wrap;
                                    font-size: 16px;
                                }
                                
                                .communication-galery {
                                    width: 100%;
                                    max-width: 1890px;
                                    margin-bottom: 30px;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                                
                                .container-wide {
                                    max-width: 1890px;
                                    margin-inline: auto;
                                    padding: 40px 15px 60px;
                                }
                                
                                .line-one {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: flex-end;
                                    gap: 30px;
                                }
                                
                                .line-two {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: flex-start;
                                    gap: 30px;
                                    padding-top: 30px;
                                }
                                
                                .brand-service {
                                    background-color: var(--color-dark);
                                    color: var(--color-light);
                                    text-align: center;
                                }
                                
                                .cover-title {
                                    padding-top: 35px;
                                }
                                
                                .cover-text {
                                    padding-bottom: 40px;
                                    font-size: 18px;
                                    /* width: 520px;
                                    height: 52px; */
                                }
                                
                                .service-list {
                                    display: grid;
                                    grid-template-columns: repeat(4, 1fr);
                                    gap: 20px;
                                    padding-bottom: 50px;
                                }
                                
                                .service-item {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                                
                                .service-icons {
                                    padding-bottom: 15px;
                                }
                                
                                .service-text {
                                    font-size: 24px;
                                }
                                
                                .our-clients {
                                    display: flex;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                }
                                
                                .clients-text {
                                    width: 770px;
                                    height: auto;
                                    text-align: center;
                                    padding-top: 50px;
                                    text-align: center;
                                }
                                
                                .clients-logo {
                                    padding-top: 25px;
                                }
                                
                                .logo-list {
                                    display: grid;
                                    grid-template-columns: repeat(6, 1fr);
                                    gap: 20px;
                                    padding-bottom: 20px;
                                }
                                
                                .black-rectangle {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    padding-bottom: 40px;
                                }
                                
                                .black-ts {
                                    font-size: 12px;
                                }
                                
                                @media (max-width: 1857px) {
                                    .container-wide {
                                        padding: 35px 10px 55px;
                                    }
                                    .banner-image {
                                        max-width: 50%;
                                        height: auto;
                                    }
                                    .galery-img {
                                        max-height: 30%;
                                        width: auto;
                                    }
                                    .line-one,
                                    .line-two {
                                        gap: 25px;
                                        flex-wrap: wrap;
                                    }
                                }
                                
                                @media (max-width: 1330px) {
                                    .header-items-logo {
                                        max-width: 50%;
                                        height: auto;
                                    }
                                    .logo-list {
                                        grid-template-columns: repeat(4, 1fr);
                                    }
                                }
                                
                                @media (max-width: 1195px) {
                                    .assortment-line {
                                        flex-direction: column;
                                    }
                                    .one,
                                    .two,
                                    .three {
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    .one {
                                        margin-right: 0;
                                    }
                                    .three {
                                        margin-left: 0;
                                    }
                                }
                                
                                @media(max-width: 1024px) {
                                    h1,
                                    h2,
                                    h3,
                                    h4,
                                    h5,
                                    h6 {
                                        font-size: 24px;
                                    }
                                    p {
                                        font-size: 14px;
                                    }
                                    .banner-shadtext {
                                        font-size: 12px;
                                    }
                                    .header-items-text {
                                        font-size: 14px;
                                    }
                                    .service-list {
                                        grid-template-columns: repeat(2, 1fr);
                                    }
                                }
                                
                                @media(max-width: 700px) {
                                    .great-block {
                                        width: auto;
                                    }
                                    .cover-text {
                                        font-size: 14px;
                                    }
                                    .logo-list {
                                        grid-template-columns: repeat(2, 1fr);
                                    }
                                }
                                
                                @media (max-width: 640px) {
                                    h1,
                                    h2,
                                    h3,
                                    h4,
                                    h5,
                                    h6 {
                                        font-size: 20px;
                                    }
                                    .header-items-text {
                                        text-align: center;
                                        max-width: 60%;
                                        height: auto;
                                    }
                                    .banner {
                                        background-size: cover;
                                    }
                                    .banner-body {
                                        flex-direction: column;
                                    }
                                    .banner-loncaro-list {
                                        max-width: 50%;
                                        height: auto;
                                    }
                                    .banner-image {
                                        max-width: 70%;
                                        height: auto;
                                    }
                                }